/* Setting */
p{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.contact-menu-footer,.post-address{
    margin: 0;
    padding: 0;
}


.hero-section{
    margin: 94px 0px;
}

a{
    text-decoration: none;
}

.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    margin: 0;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}
/* header */
:root{
    --product-color:#212121;
    --mainfoot-color: #757575;
    --webcolor: #2196F3;
    --websize: 26px;
    --studiocolor: #000;
    --studiocolor2: #FFFFFF;
    --backcolor: #2F303A;
    --imgcolor: #F5F4FA;
}
.logo-web{
    color: var(--webcolor);
    font-size: var(--websize);
    line-height: 1.38;
    font-family: 'Raleway';
}

.logo-studio{
    color: var(--studiocolor);
    font-size: var(--websize);
    line-height: 1.38;
    font-family: 'Raleway';
}
/* Navigation */

.logo-header{
    padding-bottom: 25px;
    padding-top: 24px;
}

.menu{
    margin-left: 93px;
}

.menu-link{
    color: var(--studiocolor);
    font-weight: 500;
    padding-right: 50px;
    padding-bottom: 25px;
}

.menu-link:hover,
.menu-link:focus,
.contact-link-header:hover,
.contact-link-header:focus{
    color: var(--webcolor);
}

.contact-link-header{
    color: var(--mainfoot-color);
}

.navigation,.menu,.contact-menu-header,.con-header{
    display: flex;
    align-items: center;
}

.contact-link-header{
    font-weight: 500;
    margin-left: 50px;
}

.contact-menu-header{
    margin-left: auto;
}
/* Main */

.hero-section{
    margin: 94px 0px;
}

/* Filter */
.main-menu{
    display: flex;
    justify-content: center;
}

.main-menu-item{
    border-radius: 4px;
    padding: 6px 22px;
    color: var(--studiocolor);
    background-color: var(--imgcolor);
    margin: 0px 8px;
}

.main-menu-item:focus,
.main-menu-item:hover{
    color: var(--studiocolor2);
    background-color: var(--webcolor);
}

/* Product */

.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 56px;
}

.product-item{
    margin-top: 30px;
    margin-right: 30px;
    border: 1px solid #EEE;
}

.product-img{
    width: 334px;
}

.product-name{
    color: var(--product-color);
    margin-left: 24px;
    font-size: 18px;
    line-height: 2.00;
}

.product-filter{
    color: var(--mainfoot-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    margin-left: 24px;
}
/* Footer */
footer{
    background-color: var(--backcolor);
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Logo */
.logo-web-footer{
    color: var(--webcolor);
    font-size: var(--websize);
    line-height: 1.38;
    font-family: 'Raleway';
}

.logo-studiow-footer{
    color: var(--studiocolor2);
    font-size: var(--websize);
    line-height: 1.38;
    font-family: 'Raleway';
}
/* Address */
.post-address{
    color: var(--studiocolor2);
    font-weight: 400;
    margin-bottom: 9px;
    line-height: 1.71;
    font-style: normal;
    margin-top: 20px;
}

.contact-link-footer{
    color: var(--mainfoot-color);
    font-weight: 400;
    line-height: 1.71;
    margin-bottom: 9px;
    font-style: normal;
    margin-top: 9px;
}