/* Setting */
body{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
}

.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* header */
:root{
    --mainfoot-color: #757575;
    --webcolor: #2196F3;
    --websize: 26px;
    --studiocolor: #000;
    --studiocolor2: #FFFFFF;
    --backcolor: #2F303A;
    --imgcolor: #F5F4FA;
}
.logo-web{
    color: var(--webcolor);
    font-size: var(--websize);
    line-height: 1.38;
    font-family: 'Raleway';
}

.logo-studio{
    color: var(--studiocolor);
    font-size: var(--websize);
    line-height: 1.38;
    font-family: 'Raleway';
}
/* Navigation */

.logo-header{
    margin-bottom: 25px;
    margin-top: 32px;
    margin-right: 63px;
}

.menu-link{
    color: var(--studiocolor);
    font-weight: 500;
    margin-right: 50px;
}

.menu-link:hover,
.menu-link:focus,
.contact-link-header:hover,
.contact-link-header:focus{
    color: var(--webcolor);
}

.contact-link-header{
    color: var(--mainfoot-color);
}

.navigation,.menu,.contact-menu-header,.con-header{
    display: flex;
}

.contact-link-header{
    font-weight: 500;
    margin-right: 50px;
}

.contact-item,
.menu-item{
    margin: 32px 0px;
}
.contact-menu-header{
    margin-left: 144px;
}
/* Main */
/* hero section */
.hero-section{
    background-color: var(--backcolor);
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    color: var(--studiocolor2);
    font-weight: 900;
    line-height: 1.36;
    font-size: 44px;
}

button{
    background-color: var(--webcolor);
    color: var(--studiocolor2);
    padding: 10px 32px;
    border-radius: 4px;
}
.button-conteiner{ 
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/* Features */
.features-list{
    display: flex;
    margin-right: 30px;
}

.features-description{
    color: var(--mainfoot-color);
    font-weight: 400;
    line-height: 1.71;
}
/* Jobs */
.job-list{
    padding: 0;
    display: flex;
    justify-content: center;
}

.job-item{
    margin-right: 30px;
}

.job-img{
    width: 350px;
}

.job-title{
    text-align: center;
    font-size: 36px;
}
/* Teams */
.team-h2{
    text-align: center;
    font-size: 36px;
}

.team-list{
    display: flex;
    margin: 0;
    padding-bottom: 94px;
}

.team-item{
    margin-right: 30px;
    background-color: var(--studiocolor2);
    text-align: center;
}

.team-item-name{
    font-size: 16px;
    font-weight: 500;
}

.team-item-position{
    color: var(--mainfoot-color);
    font-size: 16px;
    font-weight: 400;
}

.team-section{
    background-color: var(--imgcolor);
}
/* Footer */
footer{
    background-color: var(--backcolor);
    padding-bottom: 5px;
}
/* Logo */
.logo-web-footer{
    color: var(--webcolor);
    font-size: var(--websize);
    line-height: 1.38;
    font-family: 'Raleway';
}

.logo-studiow-footer{
    color: var(--studiocolor2);
    font-size: var(--websize);
    line-height: 1.38;
    font-family: 'Raleway';
}
/* Address */
.post-address{
    color: var(--studiocolor2);
    font-weight: 400;
    margin-bottom: 9px;
    line-height: 1.71;
}

.contact-link-footer{
    color: var(--mainfoot-color);
    font-weight: 400;
    line-height: 1.71;
    margin-bottom: 9px;
}